
<foot>
    <style>
        footer {
            padding: 1em;
            color: darkblue;
            background-color: lightgrey;
            clear: left;
            text-align: center;
        }
    </style>
</foot>
<footer>
    MFL Web Application
</footer>
</body>
</html>