<!DOCTYPE html>
<html>
<head>
    <style>
        div.container {
            width: 100%;
            border: 3px solid gray;
        }
        header {
            padding: 1em;
            color: darkblue;
            background-color: lightgrey;
            clear: left;
            text-align: center;
        }
        nav {
            float: left;
            max-width: 160px;
            margin-top: 6px;
            padding: 1em;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul a {
            text-decoration: none;
        }
        table {
            margin-left: 200px;
            border-left: 10px darkblue;
            border-right: 10px darkblue;
            padding: 1em;
            overflow: hidden;
        }
    </style>
    <title><%= title %></title>

    <!-- jQuery JavaScript Library; required by Bootstrap JS Library -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <!-- Bootstrap CSS and JavaScript Libraries; required by Bootstrap Multiselect -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap Multiselect JavaScript Library and CSS -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css"/>

</head>
<body style="margin-left:20px;">