<%- include("./includes/header.ejs", {title: title}); %>

    <header style="font-size:200%;"><%= "Marshall Football League" %></header>
    <p style="font-size:150%;font-family:courier;"> Welcome to the official website of the MFL </p>
    <br/>
    <br/>
    <nav>
        <a href="/team/all">Teams</a>
        <br/>
        <a href="/player/all">Players</a>
        <br/>
        <a href="/tstat/choose">Team Statistics</a>
        <br/>
        <a href="/pstat/choose">Player Statistics</a>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <a href="/about/main">MFL info</a>
    </nav>
    <br/>
                - view standings, view rosters, edit rosters <br/>
                - view all player info, remove/add players <br/>
                - view and edit team stats <br/>
                - view and edit player stats <br/>


<%- include("./includes/footer.ejs"); %>
