<%- include("../includes/header.ejs", {title:"Add Player"}); %>
<header style="font-size:200%;">Add Safety</header>
<form action="/team/insert" method="get">
    <input type="hidden" id="team_id" name="team_id" value="<%= team_id %>">
    <input type="hidden" id="status" name="status" value = "1">
    <br />
    Choose a player to add:
    <br />
    <select id="player_id" name="player_id">
        <% for(var i=0; result.length > i; i++ ) { %>
        <option value="<%= result[i].player_id %>"><%= result[i].p_firstname %><%= result[i].p_lastname %> <%= result[i].salary %> million/yr</option>
        <% } %>
    </select>
    <br />
    <br />


    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>