<%- include("../includes/header.ejs", {title:"Roster"}); %>
<header style="font-size:200%;"><%= result[0].team_name %> Roster </header>
<% if(locals.was_successful){%>
<div class="col-md-12">
    <div id ="message" class="alert alert-success col-md-4">
        Player was successfully added.%>
    </div>
</div>
<%}%>
<nav>
    <a href="/team/addQB/?team_id=<%= result[0].team_id %>"> Add Free Agent Quarterback </a>
    <br/><a href="/team/addWR/?team_id=<%= result[0].team_id %>"> Add Free Agent Wide Receiver</a>
    <br/><a href="/team/addCB/?team_id=<%= result[0].team_id %>"> Add Free Agent Cornerback</a>
    <br/><a href="/team/addS/?team_id=<%= result[0].team_id %>"> Add Free Agent Safety</a>
    <br/>
    <br/>
    <br/>
    <a href="/team/all"> << back </a>
</nav>

<table border="10" color="darkblue">
    <tr><th>First</th><th>Last</th><th>Position</th><th>Salary(mil)</th><th>Remove Player</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].p_firstname %></td>
        <td><%= result[i].p_lastname %></td>
        <td><%= result[i].position %></td>
        <td><%= result[i].salary %></td>
        <td>
            <form action="/team/removeP/" style="display:inline;">
                <input type="hidden" name="player_id" id="player_id" value="<%= result[i].player_id %>" />
                <input type="submit" value="Remove"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>