<%- include("../includes/header.ejs", {title:"Teams"}); %>

<header style="font-size:200%;">Team Standings</header>
<% if(locals.was_successful){%>
<div class="col-md-12">
    <div id ="message" class="alert alert-success col-md-4">
        Player was successfully added.%>
    </div>
</div>
<%}%>
<nav>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <a href="/"> << back </a>
</nav>

<table border="10" color="darkblue">
    <tr><th>Team Name</th><th>Wins</th><th>Losses</th><th>Salary Space(mil)</th><th>Conference</th><th>View Roster</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].team_name %></td>
        <td><%= result[i].wins %></td>
        <td><%= result[i].losses %></td>
        <td><%= result[i].Salary_Space %></td>
        <td><%= result[i].conference_name %></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/team/viewRoster/?team_id=<%= result[i].team_id %>'">View</button>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>