<%- include("../includes/header.ejs", {title:"Select PLayer"}); %>
<header style="font-size:200%;"> Player Statistics </header>
<% if(locals.was_successful){%>
<div class="col-md-12">
    <div id ="message" class="alert alert-success col-md-4">
        Statistics successfully updated.%>
    </div>
</div>
<%}%>
<nav>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <a href="/"> << back </a>
</nav>
<form action="/pstat/playerStats" method="get">
    <br />
    Choose Player:
    <br />
    <select id="player_id" name="player_id">
        <% for(var i=0; result.length > i; i++ ) { %>
        <option value="<%= result[i].player_id %>"><%= result[i].p_firstname %> <%= result[i].p_lastname %> <%= result[i].position %></option>
        <% } %>
    </select>




    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>