<%- include("../includes/header.ejs", {title:"Info"}); %>

<header style="font-size:200%;"><%= "MFL Information" %></header>
<br/>
<br/>
<nav>
    <a href="/images/erd.jpg"> Entity Relationship Diagram</a>
    <br/>
    <br/>
    <a href="/images/relation.jpg">Relational Schema</a>
    <br/>
    <br/>
    <a href="/images/functional.jpg">Functional Dependency Diagram</a>
    <br/>
    <br/>
    <br/>
    <a href="/"> << back </a>
</nav>
<p style="text-align:Center; font-size:125%"> The Marshall Football League is a pass only football league based in the United States. It is essentially a cut down and more
fast paced form of the NFL. In our league we have 12 teams consisting of 6-10 players. Since there are no running plays the only positions are
quarterback, wide receiver, cornerback, and safety. We are dedicated to the safety of our players and the thrill of fast paced American football. The
purpose of our website is to give fans access to view rosters, player information, and statistics via internet. It also serves as an interface for
    our staff to maintain the league database. The staff is able to keep statistics and document changes to team rosters or player information from this
website.</p>
<br/>


<%- include("../includes/footer.ejs"); %>