<%- include("../includes/header.ejs", {title:"Select Team"}); %>
<header style="font-size:200%;"> Team Statistics </header>
<% if(locals.was_successful){%>
<div class="col-md-12">
    <div id ="message" class="alert alert-success col-md-4">
        Statistics successfully updated.%>
    </div>
</div>
<%}%>
<nav>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <a href="/"> << back </a>
</nav>
<form action="/tstat/teamStats" method="get">
    <br />
    Choose Team:
    <br />
    <select id="team_id" name="team_id">
        <% for(var i=0; result.length > i; i++ ) { %>
        <option value="<%= result[i].team_id %>"><%= result[i].team_name %></option>
        <% } %>
    </select>




    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>