<%- include("../includes/header.ejs", {title:"Stats"}); %>
<header style="font-size:200%;">Modify Statistic</header>
<form action="/tstat/update" method="get">
    <input type="hidden" id="team_id" name="team_id" value = "<% team_id %>">
    Choose Statistic Type:
    <br />
    <select id="stat_id" name="stat_id">
        <% for(var i=0; result.length > i; i++ ) { %>
        <option value="<%= result[i].stat_id %>"><%= result[i].stat_type %></option>
        <% } %>
    </select>
    <br/>
    New value: <input id="current" name="current" type="text" />
    <br />


    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>