<%- include("../includes/header.ejs", {title:"Statistics"}); %>
<header style="font-size:200%;"> Statistics </header>
<% if(locals.was_successful){%>
<div class="col-md-12">
    <div id ="message" class="alert alert-success col-md-4">
        Statistics successfully updated.%>
    </div>
</div>
<%}%>
<nav>
    <a href="/tstat/modify/?team_id=<%= result[0].team_id %>"> Modify Statistic </a>
    <br/>
    <br/>
    <br/>
    <a href="/tstat/choose"> << back </a>
</nav>

<table border="10" color="darkblue">
    <tr><th>Stat Type</th><th>Current</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].stat_type %></td>
        <td><%= result[i].current_season %></td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>