<%- include("../includes/header.ejs", {title:"Add Player"}); %>
<header style="font-size:200%;">Add New Player To A Team</header>
<form action="/player/insertT" method="get">
    <input type="hidden" id="status" name="status" value = "1">
    Player First Name: <input id="first_name" name="first_name" type="text" />
    <br />
    Player Last Name: <input id="last_name" name="last_name" type="text" />
    <br />
    Position (QB, WR, CB, OR S): <input id="position" name="position" type="text" />
    <br />
    <br />
    Choose Team:
    <br />
    <select id="team_id" name="team_id">
        <% for(var i=0; result.length > i; i++ ) { %>
        <option value="<%= result[i].team_id %>"><%= result[i].team_name %></option>
        <% } %>
    </select>


    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>