<%- include("../includes/header.ejs", {title:"Players"}); %>

<header style="font-size:200%;">All MFL Players</header>
<% if(locals.was_successful){%>
<div class="col-md-12">
    <div id ="message" class="alert alert-success col-md-4">
        Player was successfully added.%>
    </div>
</div>
<%}%>
<nav>
    <a href="/player/addT"> Add New Player To A Team</a>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <a href="/"> << back </a>
</nav>

<table border="10" color="darkblue">
    <tr><th>First Name</th><th>Last Name</th><th>Position</th><th>Salary(mil)</th><th>Current Team</th><th>Retire Player</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].p_firstname %></td>
        <td><%= result[i].p_lastname %></td>
        <td><%= result[i].position %></td>
        <td><%= result[i].salary %></td>
        <td><%= result[i].team_name %></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/player/retire/?player_id=<%= result[i].player_id %>'">Retire</button>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>